# Data types and data structures covered in this chapter
| Ojbect type  | Meaning   | Used for  |   
|---|---|---|
| int  | Integer value  |  Natural numbers |   
|  float | Floating-point number  | Real numbers   |   
|  bool |  Boolean value | true or false  |
|  str   |  String object  | Character, word, text |
| tuple | Immutable container | Fixed set of objects, record |
| list | Mutable container | Changing set of objects |
| dict | Mutable container | Key-value store|
| set | Mutable container | Collection of unique objects |

## Integers

In [1]:
a = 10

print('Type:', type(a))
print('Bits in memory:', a.bit_length())

b = 100000
print('Bits in memory:', b.bit_length())

In [2]:
googol = 10 ** 100
print(googol)
print('')
print('Bits in memory:', googol.bit_length())

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

Bits in memory: 333

## Arithmetic operations

In [3]:
1 + 4

5

In [4]:
1/4

0.25

## Floats

In [5]:
1.6/4

0.4

In [6]:
b = 0.35
b + 0.1

0.44999999999999996

In [7]:
c = 0.5
c.as_integer_ratio()

(1, 2)

In [8]:
b.as_integer_ratio()

(3152519739159347, 9007199254740992)

## Module decimal
decimal can be used when representation of floating point numbers is of importance. It is used to store arbitrary-precision objects.

In [9]:
import decimal
from decimal import Decimal

In [10]:
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [11]:
d = Decimal(1)/Decimal(11)
d

Decimal('0.09090909090909090909090909091')

In [12]:
decimal.getcontext().prec = 4
e = Decimal(1)/Decimal(11)
e

Decimal('0.09091')

## Booleans
Booleans are represented as True or False in python.

In [13]:
4 > 3

True

In [14]:
4 < 3

False

In [15]:
type(4 > 3)

bool

In [16]:
print(4 >= 3)
print(4 <= 3)
print(4 == 3)

True
False
False

In [17]:
print('True and True:', True and True)
print()
print('True and False:', True and False)
print()
print('False and False:', False and False)
print()
print('True or False:', True or False)
print()
print('True or False:', True or False)
print()
print('False or False:', False or False)
print()
print('not True:', not True)
print()
print('not False:', not False)

True and True: True

True and False: False

False and False: False

True or False: True

True or False: True

False or False: False

not True: False

not False: True

## Booleans for controlling program flow

In [18]:
if 4 > 3:
    print('Condition true')
else:
    print('Condition false')

Condition true

In [19]:
i = 0
while i < 4:
    print('Condition true, i = ', i)
    i += 1

Condition true, i =  0
Condition true, i =  1
Condition true, i =  2
Condition true, i =  3

## Strings
### TODO: add more examples of string manipulation (NLP)
Strings are inmutable in python

In [20]:
t = 'this is a string object'

In [21]:
t.capitalize()

'This is a string object'

In [22]:
t.split()

['this', 'is', 'a', 'string', 'object']

In [23]:
t # still not changed

'this is a string object'

In [24]:
t.find('string')

10

In [25]:
t.find('python') # word does not exist, returns -1

-1

In [26]:
t.replace(' ', '|')

'this|is|a|string|object'

In [27]:
'http://www.python.org'.strip('http:/')

'www.python.org'

A list of all methods available for the string object can be found at
https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

In [28]:
i = 0
while i < 4:
    print(i)
    i += 1

0
1
2
3

In [29]:
i = 0 
while i < 4:
    print(i, end='|')
    i += 1

0|1|2|3|

## String replacement

In [30]:
'this is an integer %d' % 15

'this is an integer 15'

In [31]:
'this is an integer %4d' % 15

'this is an integer   15'

In [32]:
'this is an integer %04d' % 15

'this is an integer 0015'

In [33]:
'this is a float %f' % 15.3456

'this is a float 15.345600'

In [34]:
'this is a float %.2f' % 15.3456

'this is a float 15.35'

In [35]:
'this is a float %8f' % 15.3456

'this is a float 15.345600'

In [36]:
'this is an integer {}, {}'.format(15, 100)

'this is an integer 15, 100'

In [37]:
'this is an integer {:04}'.format(15)

'this is an integer 0015'

In [38]:
i = 0
while i < 4:
    print('the number is %d' % i)
    i += 1

the number is 0
the number is 1
the number is 2
the number is 3

In [39]:
i = 0
while i < 4:
    print('the number is: {} and i times 2 equals: {}'.format(i, i * 2))
    i += 1

the number is: 0 and i times 2 equals: 0
the number is: 1 and i times 2 equals: 2
the number is: 2 and i times 2 equals: 4
the number is: 3 and i times 2 equals: 6

## Regular expressions
The module re provides with methods for searching and matching of string patterns

In [40]:
import re

In [41]:
series = """
'01/18/2014 13:00:00' 100, '1st';
'01/18/2014 13:30:00' 110, '2nd';
'01/18/2014 14:00:00' 100, '3rd';
"""

In [42]:
dt = re.compile("'[0-9/:\s]+'") # datetime

In [43]:
result = dt.findall(series)
result

["'01/18/2014 13:00:00'", "'01/18/2014 13:30:00'", "'01/18/2014 14:00:00'"]

In [44]:
from datetime import datetime
pydt = datetime.strptime(result[0].replace("'", ""), '%m/%d/%Y %H:%M:%S')
print(pydt)

2014-01-18 13:00:00

# Data Structures
The standard data structures in python are:
* tuple: immutable collection of arbitrary objects
* list: mutable collection of arbitrary objects
* dict: key-value store object
* set: unordered collection object for other unique objects

## Tuples

In [45]:
t = (1, 2.5, 'data')
print(t)
print(type(t))

(1, 2.5, 'data')
<class 'tuple'>

In [46]:
t = 1, 2.5, 'data'
print(t)

(1, 2.5, 'data')

In [47]:
try:
    t[0] = 100
except TypeError:
    print('tuple object does not support item assignment')

tuple object does not support item assignment

In [48]:
t[0]

1

In [49]:
t[2]

'data'

In [50]:
t.count('data')

1

In [51]:
t.index(1)

0

## List
List are instantiated either with [ ] or with its constructor $\text{list()}$

In [52]:
mylist = [1, 2.5, 'data']
mylist[2]

'data'

In [53]:
mylist.append([4, 3])
mylist

[1, 2.5, 'data', [4, 3]]

In [54]:
mylist.extend([1.0, 1.5, 2.8])
mylist

[1, 2.5, 'data', [4, 3], 1.0, 1.5, 2.8]

In [55]:
mylist.insert(1, 'insert')
mylist

[1, 'insert', 2.5, 'data', [4, 3], 1.0, 1.5, 2.8]

In [56]:
mylist.remove('data')
mylist

[1, 'insert', 2.5, [4, 3], 1.0, 1.5, 2.8]

In [57]:
p = mylist.pop(3)
print('mylist:', mylist, ';', 'pop element:', p)

mylist: [1, 'insert', 2.5, 1.0, 1.5, 2.8] ; pop element: [4, 3]

In [58]:
mylist.extend([4,5,6])

In [59]:
mylist

[1, 'insert', 2.5, 1.0, 1.5, 2.8, 4, 5, 6]

## Slicing

In [60]:
mylist[2:5]

[2.5, 1.0, 1.5]

The list methods can be found in the python documentation: https://docs.python.org/3/tutorial/datastructures.html

## Control structures

In [61]:
print('Loop over list elements:')
for element in mylist[2:5]:
    print(element ** 2)

print() 
print('Test for loop with range function and indexing:')
for i in range(2, 5):
    print(mylist[i] ** 2)

Loop over list elements:
6.25
1.0
2.25

Test for loop with range function and indexing:
6.25
1.0
2.25

## Using if, else and elif

In [62]:
for i in range(1, 10):
    if i % 2 == 0:
        print('{} is even'.format(i))
    elif i % 3 == 0:
        print('{} is multiple of 3'.format(i))
    else:
        print('{} is odd'.format(i))

1 is odd
2 is even
3 is multiple of 3
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is multiple of 3

## While loop

In [63]:
total = 0
while total < 100:
    total += 1
print(total)

100

## List comprehensions

In [64]:
m = [i ** 2 for i in range(5)]
m

[0, 1, 4, 9, 16]

In [65]:
mylist = []
for i in range(5):
    mylist.append(i ** 2)
mylist

[0, 1, 4, 9, 16]

# Functional programming
Among some of the functions used in functional programming we find the following functions very useful 

* $\text{filter()}$
* $\text{map()}$
* $\text{reduce()}$

In functional programming we process a whole set of inputs by calling functions on them.

In [66]:
def square(x):
    return x ** 2

square(2)

4

In [67]:
def even(x):
    return x % 2 == 0

even(3)

False

The list constructor is necessary otherwise operation returns object representation due to the use of range

In [68]:
list(map(even, range(10)))

[True, False, True, False, True, False, True, False, True, False]

## Using anonymous functions (lambdas)

In [69]:
list(map(square, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
list(map(lambda x: x ** 2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
list(filter(even, range(15)))

[0, 2, 4, 6, 8, 10, 12, 14]

In [72]:
square_lambda = lambda x: x ** 2

In [73]:
square_lambda(9)

81

# Python Dictionaries and Dict comprenhensions
Key-value store object, with onordered objects. In general dicts are not sortable as lists.

In [3]:
import pandas as pd
import os

In [5]:
data = pd.read_csv(os.path.join('data', 'closing_prices.csv'))
data['date'] = pd.to_datetime(data['date'])
data.set_index('date', inplace=True)
data.head()

,AAPL,ABBV,ABT,AMGN,AMZN,AVGO,BA,BAC,BMY,C,...,PFE,PG,PM,T,UNH,V,VZ,WFC,WMT,XOM
date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,27.294495,NaN,21.129273,49.792737,133.90,16.673423,45.640616,14.639460,19.648366,32.843185,...,13.934719,47.114847,34.709530,18.323770,27.878733,20.694802,20.828887,22.385830,43.935552,53.998112
2010-01-05,27.341684,NaN,20.958563,49.365427,134.69,16.797192,47.135432,15.115313,19.341720,34.098954,...,13.735967,47.130264,34.407096,18.234010,27.834524,20.457660,20.566022,23.000375,43.498060,54.208950
2010-01-06,26.906778,NaN,21.074956,48.994453,132.25,16.929801,48.565255,15.292591,19.334054,35.161528,...,13.691800,46.906716,34.407096,17.971143,28.108625,20.182950,20.274994,23.033151,43.400840,54.677481
2010-01-07,26.857038,NaN,21.249546,48.545833,130.00,16.823714,50.531263,15.796435,19.349386,35.258126,...,13.640272,46.652332,34.836130,17.769366,29.187345,20.370786,20.154309,23.868932,43.425145,54.505686
2010-01-08,27.035592,NaN,21.358180,48.977198,133.52,16.947483,50.043823,15.656478,19.027407,34.678540,...,13.750689,46.590664,34.646230,17.639188,28.913244,20.427137,20.167013,23.647696,43.206399,54.287039

# For each stock compute statistics and save results in dict

In [14]:
stock_stats = {}
for col in data.columns:
    stock_stats[col] = data[col].describe()


print(stock_stats['AAPL'])
print()
print(stock_stats)

count    2055.000000
mean       84.982961
std        38.253581
min        24.493751
25%        52.791551
50%        78.601326
75%       109.909192
max       178.970000
Name: AAPL, dtype: float64

{'AAPL': count    2055.000000
mean       84.982961
std        38.253581
min        24.493751
25%        52.791551
50%        78.601326
75%       109.909192
max       178.970000
Name: AAPL, dtype: float64, 'ABBV': count    1301.000000
mean       56.482115
std        16.870189
min        27.995535
25%        45.470979
50%        55.391199
75%        61.493845
max       123.210000
Name: ABBV, dtype: float64, 'ABT': count    2055.000000
mean       34.044908
std        10.551102
min        18.072216
25%        23.234669
50%        34.903733
75%        41.714052
max        63.420000
Name: ABT, dtype: float64, 'AMGN': count    2055.000000
mean      106.663043
std        46.264102
min        41.643991
25%        58.166339
50%       104.854704
75%       149.207225
max       196.554745
Name: AMGN, dtype: float64, 'AMZN': count    2055.000000
mean      436.142146
std       305.361296
min       108.610000
25%       210.855000
50%       312.060000
75%       626.375000
max      1521.950000
Name: AMZN, dtype: float64, 'AVGO': count    2055.000000
mean       89.232787
std        75.028152
min        14.852254
25%        30.120151
50%        52.360443
75%       137.023896
max       280.751271
Name: AVGO, dtype: float64, 'BA': count    2055.000000
mean      111.618641
std        61.085355
min        45.640616
25%        62.085190
50%       111.909444
75%       131.408124
max       364.640000
Name: BA, dtype: float64, 'BAC': count    2055.000000
mean       14.681973
std         5.531560
min         4.686492
25%        11.512589
50%        14.353749
75%        16.264721
max        32.376582
Name: BAC, dtype: float64, 'BMY': count    2055.000000
mean       42.499050
std        16.214154
min        17.408576
25%        27.314062
50%        45.170160
75%        56.772496
max        73.741123
Name: BMY, dtype: float64, 'C': count    2055.000000
mean       46.050733
std        11.694399
min        22.335090
25%        38.445782
50%        46.125691
75%        51.460622
max        79.748663
Name: C, dtype: float64, 'CELG': count    2055.000000
mean       74.997386
std        37.922913
min        24.510000
25%        32.912500
50%        77.755000
75%       110.930000
max       146.520000
Name: CELG, dtype: float64, 'CMCSA': count    2055.000000
mean       22.279004
std        10.158833
min         6.591335
25%        11.654622
50%        23.678984
75%        29.665809
max        42.990000
Name: CMCSA, dtype: float64, 'CSCO': count    2055.000000
mean       22.304846
std         6.571227
min        11.344380
25%        17.080568
50%        21.167915
75%        26.373097
max        45.360000
Name: CSCO, dtype: float64, 'CVX': count    2055.000000
mean       89.836500
std        16.547123
min        50.549892
25%        80.117989
50%        93.301919
75%       101.492461
max       132.283396
Name: CVX, dtype: float64, 'DIS': count    2055.000000
mean       69.628144
std        29.673300
min        26.261777
25%        38.611844
50%        72.050432
75%        98.221338
max       117.311868
Name: DIS, dtype: float64, 'DWDP': count    129.000000
mean      70.625721
std        2.768709
min       62.731099
25%       69.586902
50%       70.589299
75%       71.535810
max       76.617641
Name: DWDP, dtype: float64, 'FB': count    1456.000000
mean       88.543663
std        47.950159
min        17.729000
25%        49.010000
50%        80.675000
75%       121.807500
max       193.090000
Name: FB, dtype: float64, 'GE': count    2055.000000
mean       20.623390
std         5.559874
min        10.757475
25%        15.669417
50%        21.000307
75%        24.605650
max        31.120260
Name: GE, dtype: float64, 'GILD': count    2055.000000
mean       56.600132
std        30.553643
min        14.831386
25%        21.916249
50%        65.159743
75%        81.163876
max       114.305231
Name: GILD, dtype: float64, 'GOOG': count     991.000000
mean      731.208798
std       171.243811
min       492.550000
25%       566.010000
50%       724.890000
75%       829.180000
max      1175.840000
Name: GOOG, dtype: float64, 'GOOGL': count    2055.000000
mean      538.439412
std       244.147502
min       218.710137
25%       306.202718
50%       532.110000
75%       733.220000
max      1187.560000
Name: GOOGL, dtype: float64, 'HD': count    2055.000000
mean       81.996336
std        45.788542
min        22.540027
25%        38.552980
50%        72.331522
75%       121.260173
max       206.041609
Name: HD, dtype: float64, 'HON': count    2055.000000
mean       80.550151
std        32.922559
min        30.556128
25%        50.300579
50%        83.138828
75%       100.395436
max       164.192119
Name: HON, dtype: float64, 'IBM': count    2055.000000
mean      147.350307
std        20.204752
min        98.857927
25%       137.395517
50%       150.552109
75%       163.299067
max       184.529976
Name: IBM, dtype: float64, 'INTC': count    2055.000000
mean       25.467309
std         7.955179
min        13.852401
25%        18.340742
50%        22.830782
75%        31.505073
max        49.910000
Name: INTC, dtype: float64, 'JNJ': count    2055.000000
mean       82.695168
std        27.875378
min        45.031155
25%        54.175024
50%        83.650254
75%        99.213273
max       147.203745
Name: JNJ, dtype: float64, 'JPM': count    2055.000000
mean       52.858795
std        20.871060
min        24.020546
25%        35.506223
50%        50.562225
75%        61.855880
max       118.770000
Name: JPM, dtype: float64, 'KO': count    2055.000000
mean       34.274791
std         6.871010
min        19.634121
25%        28.407623
50%        35.104439
75%        39.620609
max        48.101503
Name: KO, dtype: float64, 'MA': count    2055.000000
mean       69.533992
std        37.120213
min        18.467653
25%        36.013331
50%        72.259496
75%        94.224839
max       177.870000
Name: MA, dtype: float64, 'MCD': count    2055.000000
mean       92.115612
std        29.338460
min        47.610986
25%        74.161778
50%        84.777884
75%       110.055932
max       177.225237
Name: MCD, dtype: float64, 'MDT': count    2055.000000
mean       54.679667
std        19.526012
min        26.275032
25%        34.728850
50%        53.334216
75%        72.854949
max        87.365564
Name: MDT, dtype: float64, 'MMM': count    2055.000000
mean      122.517625
std        48.566188
min        60.357008
25%        76.586101
50%       120.151883
75%       154.327168
max       257.141041
Name: MMM, dtype: float64, 'MO': count    2055.000000
mean       38.215591
std        18.423126
min        12.997505
25%        21.902735
50%        31.244679
75%        56.042301
max        75.375624
Name: MO, dtype: float64, 'MRK': count    2055.000000
mean       43.451927
std        12.458673
min        23.560625
25%        30.681171
50%        45.678490
75%        53.580134
max        65.028243
Name: MRK, dtype: float64, 'MSFT': count    2055.000000
mean       39.165661
std        18.082772
min        18.784801
25%        23.927634
50%        33.908718
75%        49.849414
max        95.420000
Name: MSFT, dtype: float64, 'NVDA': count    2055.000000
mean       41.199164
std        54.027246
min         8.231046
25%        13.418018
50%        17.572143
75%        32.275702
max       248.925803
Name: NVDA, dtype: float64, 'ORCL': count    2055.000000
mean       34.397347
std         7.673843
min        19.538419
25%        28.645996
50%        34.523480
75%        39.509250
max        52.750000
Name: ORCL, dtype: float64, 'PCLN': count    2051.000000
mean      996.652766
std       492.564458
min       175.190000
25%       538.010000
50%      1095.340000
75%      1301.675000
max      2049.000000
Name: PCLN, dtype: float64, 'PEP': count    2055.000000
mean       77.187097
std        21.335191
min        46.376335
25%        55.705494
50%        73.961730
75%        94.435338
max       120.860144
Name: PEP, dtype: float64, 'PFE': count    2055.000000
mean       24.289410
std         7.409710
min        10.619443
25%        17.170496
50%        25.874347
75%        30.845407
max        38.663078
Name: PFE, dtype: float64, 'PG': count    2055.000000
mean       67.483852
std        13.561843
min        46.405658
25%        53.089764
50%        69.769577
75%        78.073295
max        92.983516
Name: PG, dtype: float64, 'PM': count    2055.000000
mean       71.726150
std        20.819240
min        30.698748
25%        59.004770
50%        71.750510
75%        82.366681
max       118.176368
Name: PM, dtype: float64, 'T': count    2055.000000
mean       28.128105
std         6.593270
min        15.963212
25%        22.066764
50%        28.397651
75%        33.103446
max        40.493150
Name: T, dtype: float64, 'UNH': count    2055.000000
mean       88.901352
std        53.815762
min        24.748427
25%        47.075591
50%        69.676791
75%       117.824384
max       247.643530
Name: UNH, dtype: float64, 'V': count    2055.000000
mean       52.616094
std        28.551387
min        15.446016
25%        24.147251
50%        50.791972
75%        75.737880
max       126.103434
Name: V, dtype: float64, 'VZ': count    2055.000000
mean       37.377362
std         9.354042
min        17.374125
25%        28.940249
50%        40.379815
75%        43.831960
max        54.720000
Name: VZ, dtype: float64, 'WFC': count    2055.000000
mean       38.757409
std        12.228074
min        19.112537
25%        26.711262
50%        40.776538
75%        49.744522
max        65.539822
Name: WFC, dtype: float64, 'WMT': count    2055.000000
mean       62.630906
std        13.426017
min        39.332958
25%        50.527550
50%        65.503234
75%        69.591240
max       108.905880
Name: WMT, dtype: float64, 'XOM': count    2055.000000
mean       73.470751
std        10.678162
min        44.766414
25%        68.226489
50%        75.902587
75%        81.136310
max        91.594242
Name: XOM, dtype: float64}

In [ ]:
# With dict c

In [74]:
d = {'Name': 'Angela Merkel', 
     'Country': 'Germany', 
     'Profession': 'Chancelor', 
     'Age': 64}

type(d)

dict

In [75]:
print(d['Name'], d['Age'])

Angela Merkel 64

In [76]:
d.keys()

dict_keys(['Name', 'Country', 'Profession', 'Age'])

In [77]:
d.values()

dict_values(['Angela Merkel', 'Germany', 'Chancelor', 64])

In [78]:
d.items()

dict_items([('Name', 'Angela Merkel'), ('Country', 'Germany'), ('Profession', 'Chancelor'), ('Age', 64)])

In [79]:
birthday = True
if birthday:
    d['Age'] += 1
print(d['Age'])

65

In [80]:
for k, v in d.items():
    print('key: {}, value: {}'.format(k, v))

key: Name, value: Angela Merkel
key: Country, value: Germany
key: Profession, value: Chancelor
key: Age, value: 65

# Sets
Sets support the same mathematical operations as a set in math. Sets can be useful when trying to get unique elements in a list, for example.

In [81]:
m = ['u', 'd', 'ud', 'du', 'd', 'du']
s = set(m)
s

{'d', 'du', 'u', 'ud'}

In [82]:
t = set(['d', 'dd', 'uu', 'u'])
s.union(t)

{'d', 'dd', 'du', 'u', 'ud', 'uu'}

In [83]:
s.intersection(t)

{'d', 'u'}

In [84]:
s.difference(t)

{'du', 'ud'}

In [85]:
s.symmetric_difference(t)

{'dd', 'du', 'ud', 'uu'}