# Data types and data structures covered in this chapter
| Ojbect type  | Meaning   | Used for  |   
|---|---|---|
| int  | Integer value  |  Natural numbers |   
|  float | Floating-point number  | Real numbers   |   
|  bool |  Boolean value | true or false  |
|  str   |  String object  | Character, word, text |
| tuple | Immutable container | Fixed set of objects, record |
| list | Mutable container | Changing set of objects |
| dict | Mutable container | Key-value store|
| set | Mutable container | Collection of unique objects |

## Integers

In [1]:
a = 10

print('Type:', type(a))
print('Bits in memory:', a.bit_length())

b = 100000
print('Bits in memory:', b.bit_length())

In [2]:
googol = 10 ** 100
print(googol)
print('')
print('Bits in memory:', googol.bit_length())

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

Bits in memory: 333

## Arithmetic operations

In [3]:
1 + 4

5

In [4]:
1/4

0.25

## Floats

In [5]:
1.6/4

0.4

In [6]:
b = 0.35
b + 0.1

0.44999999999999996

In [7]:
c = 0.5
c.as_integer_ratio()

(1, 2)

In [8]:
b.as_integer_ratio()

(3152519739159347, 9007199254740992)

## Module decimal
decimal can be used when representation of floating point numbers is of importance. It is used to store arbitrary-precision objects.

In [9]:
import decimal
from decimal import Decimal

In [10]:
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [11]:
d = Decimal(1)/Decimal(11)
d

Decimal('0.09090909090909090909090909091')

In [12]:
decimal.getcontext().prec = 4
e = Decimal(1)/Decimal(11)
e

Decimal('0.09091')

## Booleans
Booleans are represented as True or False in python.

In [13]:
4 > 3

True

In [14]:
4 < 3

False

In [15]:
type(4 > 3)

bool

In [16]:
print(4 >= 3)
print(4 <= 3)
print(4 == 3)

True
False
False

In [17]:
print('True and True:', True and True)
print()
print('True and False:', True and False)
print()
print('False and False:', False and False)
print()
print('True or False:', True or False)
print()
print('True or False:', True or False)
print()
print('False or False:', False or False)
print()
print('not True:', not True)
print()
print('not False:', not False)

True and True: True

True and False: False

False and False: False

True or False: True

True or False: True

False or False: False

not True: False

not False: True

## Booleans for controlling program flow

In [18]:
if 4 > 3:
    print('Condition true')
else:
    print('Condition false')

Condition true

In [19]:
i = 0
while i < 4:
    print('Condition true, i = ', i)
    i += 1

Condition true, i =  0
Condition true, i =  1
Condition true, i =  2
Condition true, i =  3

## Strings
Strings are inmutable in python

In [20]:
t = 'this is a string object'

In [21]:
t.capitalize()

'This is a string object'

In [22]:
t.split()

['this', 'is', 'a', 'string', 'object']

In [23]:
t # still not changed

'this is a string object'

In [24]:
t.find('string')

10

In [25]:
t.find('python') # word does not exist, returns -1

-1

In [26]:
t.replace(' ', '|')

'this|is|a|string|object'

In [27]:
'http://www.python.org'.strip('http:/')

'www.python.org'

A list of all methods available for the string object can be found at
https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

In [28]:
i = 0
while i < 4:
    print(i)
    i += 1

0
1
2
3

In [29]:
i = 0 
while i < 4:
    print(i, end='|')
    i += 1

0|1|2|3|

## String replacement

In [30]:
'this is an integer %d' % 15

'this is an integer 15'

In [31]:
'this is an integer %4d' % 15

'this is an integer   15'

In [32]:
'this is an integer %04d' % 15

'this is an integer 0015'

In [33]:
'this is a float %f' % 15.3456

'this is a float 15.345600'

In [34]:
'this is a float %.2f' % 15.3456

'this is a float 15.35'

In [35]:
'this is a float %8f' % 15.3456

'this is a float 15.345600'

In [36]:
'this is an integer {}, {}'.format(15, 100)

'this is an integer 15, 100'

In [37]:
'this is an integer {:04}'.format(15)

'this is an integer 0015'

In [38]:
i = 0
while i < 4:
    print('the number is %d' % i)
    i += 1

the number is 0
the number is 1
the number is 2
the number is 3

In [39]:
i = 0
while i < 4:
    print('the number is: {} and i times 2 equals: {}'.format(i, i * 2))
    i += 1

the number is: 0 and i times 2 equals: 0
the number is: 1 and i times 2 equals: 2
the number is: 2 and i times 2 equals: 4
the number is: 3 and i times 2 equals: 6

## Regular expressions
The module re provides with methods for searching and matching of string patterns

In [40]:
import re

In [41]:
series = """
'01/18/2014 13:00:00' 100, '1st';
'01/18/2014 13:30:00' 110, '2nd';
'01/18/2014 14:00:00' 100, '3rd';
"""

In [42]:
dt = re.compile("'[0-9/:\s]+'") # datetime

In [43]:
result = dt.findall(series)
result

["'01/18/2014 13:00:00'", "'01/18/2014 13:30:00'", "'01/18/2014 14:00:00'"]

In [44]:
from datetime import datetime
pydt = datetime.strptime(result[0].replace("'", ""), '%m/%d/%Y %H:%M:%S')
print(pydt)

2014-01-18 13:00:00

# Data Structures
The standard data structures in python are:
* tuple: immutable collection of arbitrary objects
* list: mutable collection of arbitrary objects
* dict: key-value store object
* set: unordered collection object for other unique objects

## Tuples

In [45]:
t = (1, 2.5, 'data')
print(t)
print(type(t))

(1, 2.5, 'data')
<class 'tuple'>

In [46]:
t = 1, 2.5, 'data'
print(t)

(1, 2.5, 'data')

In [47]:
try:
    t[0] = 100
except TypeError:
    print('tuple object does not support item assignment')

tuple object does not support item assignment

In [48]:
t[0]

1

In [49]:
t[2]

'data'

In [50]:
t.count('data')

1

In [51]:
t.index(1)

0

## List
List are instantiated either with [ ] or with its constructor $\text{list()}$

In [52]:
mylist = [1, 2.5, 'data']
mylist[2]

'data'

In [53]:
mylist.append([4, 3])
mylist

[1, 2.5, 'data', [4, 3]]

In [54]:
mylist.extend([1.0, 1.5, 2.8])
mylist

[1, 2.5, 'data', [4, 3], 1.0, 1.5, 2.8]

In [55]:
mylist.insert(1, 'insert')
mylist

[1, 'insert', 2.5, 'data', [4, 3], 1.0, 1.5, 2.8]

In [56]:
mylist.remove('data')
mylist

[1, 'insert', 2.5, [4, 3], 1.0, 1.5, 2.8]

In [57]:
p = mylist.pop(3)
print('mylist:', mylist, ';', 'pop element:', p)

mylist: [1, 'insert', 2.5, 1.0, 1.5, 2.8] ; pop element: [4, 3]

In [58]:
mylist.extend([4,5,6])

In [59]:
mylist

[1, 'insert', 2.5, 1.0, 1.5, 2.8, 4, 5, 6]

## Slicing

In [60]:
mylist[2:5]

[2.5, 1.0, 1.5]

The list methods can be found in the python documentation: https://docs.python.org/3/tutorial/datastructures.html

## Control structures

In [61]:
print('Loop over list elements:')
for element in mylist[2:5]:
    print(element ** 2)

print() 
print('Test for loop with range function and indexing:')
for i in range(2, 5):
    print(mylist[i] ** 2)

Loop over list elements:
6.25
1.0
2.25

Test for loop with range function and indexing:
6.25
1.0
2.25

## Using if, else and elif

In [62]:
for i in range(1, 10):
    if i % 2 == 0:
        print('{} is even'.format(i))
    elif i % 3 == 0:
        print('{} is multiple of 3'.format(i))
    else:
        print('{} is odd'.format(i))

1 is odd
2 is even
3 is multiple of 3
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is multiple of 3

## While loop

In [63]:
total = 0
while total < 100:
    total += 1
print(total)

100

## List comprehensions

In [64]:
m = [i ** 2 for i in range(5)]
m

[0, 1, 4, 9, 16]

In [65]:
mylist = []
for i in range(5):
    mylist.append(i ** 2)
mylist

[0, 1, 4, 9, 16]

# Functional programming
Among some of the functions used in functional programming we find the following functions very useful 

* $\text{filter()}$
* $\text{map()}$
* $\text{reduce()}$

In functional programming we process a whole set of inputs by calling functions on them.

In [66]:
def square(x):
    return x ** 2

square(2)

4

In [67]:
def even(x):
    return x % 2 == 0

even(3)

False

The list constructor is necessary otherwise operation returns object representation due to the use of range

In [68]:
list(map(even, range(10)))

[True, False, True, False, True, False, True, False, True, False]

## Using anonymous functions (lambdas)

In [69]:
list(map(square, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
list(map(lambda x: x ** 2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
list(filter(even, range(15)))

[0, 2, 4, 6, 8, 10, 12, 14]

In [72]:
square_lambda = lambda x: x ** 2

In [73]:
square_lambda(9)

81

# Dicts
Key-value store object, with onordered objects. In general dicts are not sortable as lists.

In [74]:
d = {'Name': 'Angela Merkel', 
     'Country': 'Germany', 
     'Profession': 'Chancelor', 
     'Age': 64}

type(d)

dict

In [75]:
print(d['Name'], d['Age'])

Angela Merkel 64

In [76]:
d.keys()

dict_keys(['Name', 'Country', 'Profession', 'Age'])

In [77]:
d.values()

dict_values(['Angela Merkel', 'Germany', 'Chancelor', 64])

In [78]:
d.items()

dict_items([('Name', 'Angela Merkel'), ('Country', 'Germany'), ('Profession', 'Chancelor'), ('Age', 64)])

In [79]:
birthday = True
if birthday:
    d['Age'] += 1
print(d['Age'])

65

In [80]:
for k, v in d.items():
    print('key: {}, value: {}'.format(k, v))

key: Name, value: Angela Merkel
key: Country, value: Germany
key: Profession, value: Chancelor
key: Age, value: 65

# Sets
Sets support the same mathematical operations as a set in math. Sets can be useful when trying to get unique elements in a list, for example.

In [81]:
m = ['u', 'd', 'ud', 'du', 'd', 'du']
s = set(m)
s

{'d', 'du', 'u', 'ud'}

In [82]:
t = set(['d', 'dd', 'uu', 'u'])
s.union(t)

{'d', 'dd', 'du', 'u', 'ud', 'uu'}

In [83]:
s.intersection(t)

{'d', 'u'}

In [84]:
s.difference(t)

{'du', 'ud'}

In [85]:
s.symmetric_difference(t)

{'dd', 'du', 'ud', 'uu'}